################################################################################
# Ignores build results, temporary files, and so on.
################################################################################

/.vs/
/User/
*.exe
*.ini
